.review-form {
    padding-top: 200px;
    color: #fff;
    text-align: center;
}

.demo-form {
    width: 600px;
    height: 400px;
    display: block;
    margin: 10px auto;
    color: #555;
    border-radius: 10px;
    background-color: white;
}

.demo-header {
    color: #000;
}

.demo-buttons {
    display: block;
    width: 600px;
    margin: 20px auto;
    position: relative;
}

.btn-back {
    position: absolute;
    left: 0;
}

.btn-send {
    position: absolute;
    right: 0;
}