.wrapper-price {
    padding-top: 80px;
}

.icon-big {
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 5px;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
}

.features {
    margin-top: 60px;
}

h2 {
    font-size: 140%;
    word-spacing: 2px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.row {
    margin-bottom: 30px;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.btn-ghost {
    background-color: #fff;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-price {
    font-size: 200%;
    color: #e67e22;

}

.plan-price span {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box li i {
    padding: 0 5px;
    font-size: 90%;
}

.ion-close-round {
    color: dimgray;
}

.ion-checkmark-round {
    color: #e67e22;
}

.plan {
    background-color: #fcfcfc;
    border-radius: inherit;
}

.plan-box div:last-child {
    text-align: center;
}

.row-plans {
    left: 15%;
    right: 15%;
}