html {
    background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url(../../res/images/hero.jpg);
    min-height: 800px;
    height: 100vh;
    background-color: lightskyblue;
    background-size: cover;
    background-position: center;
    color: #555;
}

section {
    padding-top: 100px;
}